@import 'modules/_audio';
@import 'modules/_video';
@import 'modules/_progressBar';
@import 'modules/_volumeBar';


.hidden{
    display: none;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}

