.audioPlayer{
    margin: 0 auto;
    max-width: 800px;
    margin-top: 100px;
    margin-bottom: 80px;
    box-shadow: 0px 5px 15px 0.5px rgba(68, 142, 211, 0.256) ;
    padding-top: 50px;
    padding-bottom: 50px;

    .cover{
        max-width: 400px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .audioControls{
        max-width: 600px;
        display: block;
        margin: 0 auto;
    }

    .lyrics{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 70px;
    }
}