.audioPlayer{
    margin: 0 auto;
    max-width: 800px;
    margin-top: 80px;
    margin-bottom: 80px;

    .cover{
        max-width: 400px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .audioControls{
        max-width: 600px;
        display: block;
        margin: 0 auto;
    }

    .lyrics{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 70px;
    }
}